@import "tailwindcss";

@font-face {
  font-family: Outfit;
  src: url("/fonts/Outfit/Outfit-VariableFont_wght.ttf");
}

* {
  font-family: "Outfit";
}

body {
  background-color: white;
  color: black;
}

button {
  display: block;
}

.page-title {
  font-weight: bold;
  background: linear-gradient(to right, black, white);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ui-card {
  place-content: center;
  display: inline-block;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.9);
  border-radius: 0.25rem;
  min-width: min-content;
  width: 20%;
  max-width: 500px;
  aspect-ratio: 2/1;
}

.card-options {
  position: absolute;
  z-index: 10000;
  width: min-content;
  background: white;
  border: 1px solid black;
  border-radius: 0.25rem;
  padding: 0.5rem;
  left: 100%;
  bottom: 50%;
}

.fancy-hover::after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  aspect-ratio: 1/1;
  width: 120%;
  height: 120%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  scale: 0;
  transition: scale 200ms ease-in-out;
}
.fancy-hover:hover::after {
  scale: 1;
}

.card-option-text {
  outline: none;
  max-width: 50%;
  border-bottom: 1px solid black;
}
